$borderColor: #0000001F;

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}



/* header style */
.header {
    height: 56px;
    background-color: black;
    padding: 0 30px;
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3FD28B;

    .left {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo-img {
            height: 25px;
            margin-right: 5px;
        }
    }

    .right {
        align-self: center;

        .navbar {
            display: flex;
            font-size: 14px;
            list-style: none;
            width: 550px;
            height: 100%;
            align-items: center;
            justify-content: space-around;

            .active-white {
                padding: 16px 0;
                color: white;
                border-bottom: 4px solid white;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .header {
        .right {
            .navbar {
                display: none;
            }
        }
    }
}

@media screen and (min-width: 701px) {
    .hamburgmenu {
        display: none;
    }
}

/*  Content */
.content {
    background-color: #EEEEEE;
    padding: 24px;

    .tabbar {
        height: 64px;
        width: 100%;
        background-color: #8DDC97;
        display: flex;
        justify-content: space-around;

        .active-black {
            border-bottom: 4px solid black;
        }

        .tab {
            display: block;
            align-items: center;
            font-size: 16px;
            line-height: 100%;
            width: 100%;

            div>span {
                padding: 0 5px;
                margin-left: 16px;
            }
        }
    }


    .result {
        display: flex;
        justify-content: space-between;
        height: 45px;
        margin: 24px 0;
        color: #686868;
        border-bottom: 1px solid $borderColor;

        .left-result {
            align-self: center;
        }

        .right-result {
            display: flex;
            align-items: flex-start;

            #course {
                border: none;
                background-color: transparent;
                font-size: 16px;
                width: 154px;
                margin-right: 24px;
            }

            .sort-icon {
                width: 12px;
                height: 24px;
            }
        }
    }



    .card-display {
        margin: 16px 0;
        width: 100%;
        display: grid;
        column-gap: 24px;
        row-gap: 25px;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-auto-flow: dense;
        justify-content: center;

        .card {
            display: grid;
            grid-template-columns: 30% 70%;
            grid-template-rows: 80% 20%;
            column-gap: 16px;
            background-color: white;
            min-width: 400px;
            max-width: 500px;
            height: 246px;
            flex-grow: 1;
            padding: 24px 16px 11px 24px;

            .card-img {
                height: 157px;
                width: 132px;
                background-size: cover;
            }
            .details {
                padding-right: 24px;
            }
        
            .detail-heading {
                max-height: 40px;
                overflow-y: clip;
                color: #222222;
            }
        
            .teacher-info>.space-between {
                border-bottom: 1px solid #0000002b;
                margin-bottom: 8px;
                color: #222222;
            }
        
            .course-info {
                color: #666666;
                font-size: 12px;
            }
        
            .card-icons {
                grid-column: 1/3;
                display: flex;
                justify-content: space-around;
                border-top: 1px solid #0000002e;
                padding-top: 15px;
                margin-right: 24px;
                align-items: center;
            }
        }
    }

    @media screen and (max-width: 990px) {
        .card {
            display: grid;
            width: 500px;
            margin-left: auto;
            margin-right: auto;

        }
    }

    .menu {
        display: flex;
        justify-content: center;
        bottom: 5px;
        margin: 15px auto 0 auto;

        a {
            text-decoration: none;
            color: #1F7A54;
            font-size: 14px;
            margin: 0 5px;
            font-weight: bold;
            padding-right: 8px;
        }
        .right-border {
            border-right: 1px solid $borderColor;
        }
    }
}








/* footer styles */

@import 'footer';


/* Utility classes */
.space-between {
    display: flex;
    justify-content: space-between;
}

.dark {
    color: #222222;
}

.bold {
    font-weight: bold;
}

.mb-7 {
    margin-bottom: 7px;
    ;
}

.mb-18 {
    margin-bottom: 18px;
}

.center-div {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}