$borderColor: #0000001F;
$contentBg: #EEEEEE;
$logincardBorder : #3AC7EC;
$forgotColor: #1F7A54;
$inputBorderBottom: rgb(222, 222, 222);
$linkTextColor: #1F7A54;

@mixin marginBottom($marginBottom){
    margin-bottom: $marginBottom;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 47px 1fr 40px;
    height: 100vh;
}



/*  Header style     */
.header{
    background-color: black;
    display: flex;
    align-items: center;
    padding : 0 20px;
    color: white;

    img{
        height: 30px;
    }
}




/*  Content Style */
.content{
    background-color: $contentBg ;
    display: grid;
    justify-content: center;
    padding-top: 40px;
   
}
.login-card{
    max-width: 488px;
    width: 100vw;
    max-height: 600px;
    background-color: white;
    padding: 0px 32px 20px 32px;
    border-top: 4px solid $logincardBorder;
    display: flex;
    flex-direction: column;

    h2{
        margin: 20px auto 0 auto;
        font-size: 24px;
    }

    form{
        margin-top: 34px;
        font-size: 16px;
        font-weight: 600;

        input[type="radio"]{
            margin-right: 8px;
        }
        input[type="checkbox"]{
            height: 24px;
            width: 18px;
            margin-right: 5px;
        }
        input[type="submit"]{
            height : 40px;
            width: 215px;
            display: block;
            margin: 0 auto;
            background-color : #3FD28B;
            border:none;
            box-shadow: 3px 4px 7px 0px #8d8d8d;
        }
        label{
            margin-right: 32px;
            color: #333333;
        }
        select, .full-input{
            width: 424px;
            border: none;
            border-bottom: 1px solid $inputBorderBottom;
        }

        .forgot{
            text-align: right;
            color: $forgotColor;
            font-size: 14px;
        }
    }
}




.menu{
    display: block;
    position: relative;
    bottom: 5px;
    margin: 15px auto 0 auto;

    a{
        text-decoration: none;
        color: $linkTextColor;
        font-size: 14px;
        margin: 0 5px;
    }
}



/*  Footer Style     */

.footer{
    display: flex;
    font-size: 12px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #E0E1E1;
    color: #616161;

    p{
        padding-left:16px;
        font-size: 12px;
        font-weight: bold;
    }    
}
.footer-logo{
    padding: 0 16px;
    border-right: 1px solid $borderColor;
}


/*  Utility Classes */
.mb-36{
    @include marginBottom(36px);
}
.mb-34{
    @include marginBottom(34px);
}
.mb-33{
    @include marginBottom(33px);
}
.mb-25{
    @include marginBottom(25px);
}
.mb-26{
    @include marginBottom(26px);
}
.mb-56{
    @include marginBottom(56px);
}
.inline{
    display: inline;
}
.bold{
    font-weight: 700;
    color: black
}
.align-center{
    display: flex;
    align-items: center;
}